<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Product</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked" color="primary">Presupuesto</ion-label>
        <ion-input type="text" name="txtPresupuesto" [(ngModel)]="newProducto.presupuesto" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" color="primary">Unidad</ion-label>
        <ion-input type="text" name="txtUnidad" [(ngModel)]="newProducto.unidad" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" color="primary">Producto</ion-label>
        <ion-input type="text" name="txtProducto" [(ngModel)]="newProducto.producto" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" color="primary">Cantidad</ion-label>
        <ion-input type="number" name="txtCantidad" [(ngModel)]="newProducto.cantidad" (ionChange)="calcularValorTotal()" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" color="primary">Valor Unitario</ion-label>
        <ion-input type="number" name="txtValorUnitario" [(ngModel)]="newProducto.valorUnitario" (ionChange)="calcularValorTotal()" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" color="primary">Valor Total</ion-label>
        <ion-input type="number" name="txtValorTotal" [(ngModel)]="newProducto.valorTotal" readonly></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" color="primary">Fecha</ion-label>
        <ion-input type="date" name="txtFecha" [(ngModel)]="newProducto.fecha" required></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label position="stacked" color="primary">Proveedor</ion-label>
        <ion-input type="text" name="txtProveedor" [(ngModel)]="newProducto.proveedor" required></ion-input>
      </ion-item>
    </ion-list>
    <ion-button type="submit" color="primary" expand="full" shape="round">Add</ion-button>
  </form>
</ion-content>
