<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Update</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Presupuesto</ion-label>
      <ion-input type="text" name="txtPresupuesto"  [(ngModel)]="producto.presupuesto" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Unidad</ion-label>
      <ion-input type="text" name="txtUnidad" [(ngModel)]="producto.unidad" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Producto</ion-label>
      <ion-input type="text" name="txtProducto" [(ngModel)]="producto.producto" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Cantidad</ion-label>
      <ion-input type="number" name="txtCantidad" [(ngModel)]="producto.cantidad" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Valor Unitario</ion-label>
      <ion-input type="number" name="txtValorUnitario" [(ngModel)]="producto.valorUnitario" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Valor Total</ion-label>
      <ion-input type="number" name="txtValorTotal"  [(ngModel)]="producto.valorTotal" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Fecha</ion-label>
      <ion-input type="date" name="txtFecha" [(ngModel)]="producto.fecha" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Proveedor</ion-label>
      <ion-input type="text" name="txtProveedor"[(ngModel)]="producto.proveedor" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button (click)="updateProducto()"color="success" expand="block">Update</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>

